<span class="dialog-style succesMessage" *ngIf="data.editMode && data.satisfactory">El producto se ha editado correctamente</span>
<span class="dialog-style errorMessage" *ngIf="data.editMode && !data.satisfactory">El producto no se ha podido editar</span>

<span class="dialog-style succesMessage" *ngIf="data.deleteMode && data.satisfactory">El producto se ha eliminado correctamente</span>
<span class="dialog-style errorMessage" *ngIf="data.deleteMode && !data.satisfactory">El producto no se ha podido eliminar</span>

<span class="dialog-style succesMessage" *ngIf="data.addMode && data.satisfactory">El producto se ha añadido correctamente</span>
<span class="dialog-style errorMessage" *ngIf="data.addMode && !data.satisfactory">El producto se ha podido añadir</span>

<span class="dialog-style succesMessage" *ngIf="data.addClient && data.satisfactory">El cliente se ha registrado con éxito</span>
<span class="dialog-style errorMessage" *ngIf="data.addClient && !data.satisfactory">El cliente no se ha podido registrar. Complete todos los campos.</span>

<span class="dialog-style succesMessage" *ngIf="data.addOrder && data.satisfactory">El pedido se ha registrado con éxito</span>