<div class="mat-toolbar-container">
  <mat-toolbar>
    <div>
      <mat-form-field style="font-size:15px" class="search">
        <input matInput placeholder="Buscar">
      </mat-form-field>
      <mat-icon style="margin-left:1rem">search</mat-icon>
    </div>
    <button class = "fontSize" mat-button>Productos</button>
    <button class = "fontSize" mat-button>Pedidos</button>
    <button class = "fontSize" mat-button>Clientes</button>
    <span  mat-button (click)="redirectToForo()" class = "fontSize">Foro</span>
    <button  mat-button [matMenuTriggerFor]="cuentaMenu"  class = "fontSize" mat-button >Cuenta</button>
    <mat-menu #cuentaMenu="matMenu" class="custom-menu">
      <button (click)="cerrarSesion()" mat-menu-item>Cerrar sesión</button>
    </mat-menu>
  </mat-toolbar>
</div>