<div class="mat-toolbar-container">
  <mat-toolbar>
    <div>
    </div>
    <button (click)="redirectToProducts()" class = "fontSize" mat-button>
      <img src="../../../assets/imgs/logoApp.png" style="height: 50px; width: 50px; margin: auto;">
    </button>
    <button (click)="redirectToProducts()" class = "fontSize" mat-button>Productos</button>
    <button class = "fontSize" mat-button>Pedidos</button>
    <button class = "fontSize" mat-button>Clientes</button>
    <span  mat-button (click)="redirectToForo()" class = "fontSize">Foro</span>
    <button  mat-button [matMenuTriggerFor]="cuentaMenu"  class = "fontSize" mat-button >Cuenta</button>
    <mat-menu #cuentaMenu="matMenu" class="custom-menu">
      <button (click)="cerrarSesion()" mat-menu-item>Cerrar sesión</button>
    </mat-menu>
  </mat-toolbar>
</div>