
<div style="background-color: #ffd7d7; padding: 2rem;">
  <mat-dialog-content class="dialog-content">
      <div class="center-content">
          <p>¿Estás seguro de que deseas eliminar el producto <strong>{{ data.product.product.name }}</strong>?</p>
          <img src="{{ data.product.product.url_image }}" class="center-image">
      </div>
  </mat-dialog-content>
    
  <mat-dialog-actions class="dialog-actions">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="onYesClick()">Eliminar</button>
  </mat-dialog-actions>
</div>
