<div style="background-color:#D2F9F8">
    <mat-dialog-content class="dialog-content">
        <div class="center-content">
          <p>Estás seguro de eliminar el producto {{ data.product.id }} ?</p>
          <img [src]="data.product.url_image" class="center-image">
        </div>
    </mat-dialog-content>
      
      <mat-dialog-actions class="dialog-actions">
        <button class="button-style" mat-button (click)="onNoClick()">Cancelar</button>
        <button class="button-style" mat-button (click)="onYesClick()">Eliminar</button>
      </mat-dialog-actions>
</div>
