/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
/node_modules/
.angular

/node_modules
/.angular
/.angular-cli
/.angular/*
/.agular/cache
/..angular
/..angular/*
/angular
/.node_modules
node_modules/
e2e