<div class="dialog">
    <div class="dialog-header">
        <h1 *ngIf="data.addMode">Añadir producto</h1>
        <h1 *ngIf="!data.addMode">Editar producto</h1>
    </div>
    <div class="dialog-content">
        <mat-form-field appearance="outline">
            <mat-label>Tipo de producto</mat-label>
            <mat-select [(ngModel)]="type">
                <mat-option value="clothes">Ropa</mat-option>
                <mat-option value="supplementation">Suplementación</mat-option>
            </mat-select>
        </mat-form-field>
        <div style="padding: 2rem;" class="d-flex">
            <div class="d-flex flex-column" style="margin-right:2rem">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="product.name" #input>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput [(ngModel)]="product.name" #input>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput [(ngModel)]="product.price" #input>
                </mat-form-field>
            </div>
            <div *ngIf="type === 'clothes'" class="d-flex flex-column">
                <mat-form-field appearance="outline"><mat-label>Color</mat-label>
                    <mat-select>
                        <mat-option value="white">Blanco</mat-option>
                        <mat-option value="black">Negro</mat-option>
                        <mat-option value="pink">Rosa</mat-option>
                        <mat-option value="red">Rojo</mat-option>
                        <mat-option value="green">Verde</mat-option>
                        <mat-option value="blue">Azul</mat-option>
                        <mat-option value="yellow">Amarillo</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline"><mat-label>Género</mat-label>
                    <mat-select>
                        <mat-option value="woman">Hombre</mat-option>
                        <mat-option value="man">Mujer</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline"><mat-label>Talla</mat-label>
                    <mat-select>
                        <mat-option value="XS">XS</mat-option>
                        <mat-option value="S">S</mat-option>
                        <mat-option value="M">M</mat-option>
                        <mat-option value="L">L</mat-option>
                        <mat-option value="XL">XL</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="type === 'supplementation'" class="d-flex flex-column">
                <mat-form-field appearance="outline"><mat-label>Tipo</mat-label>
                    <mat-select>
                        <mat-option value="white">Proteína</mat-option>
                        <mat-option value="black">Vitaminas</mat-option>
                        <mat-option value="pink">Snacks</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline"><mat-label>Sabor</mat-label>
                    <mat-select>
                        <mat-option value="strawberry">Fresa</mat-option>
                        <mat-option value="chocolate">Chocolate</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline"><mat-label>Medida</mat-label>
                    <mat-select>
                        <mat-option value="1kg">1kg</mat-option>
                        <mat-option value="5kg">5kg</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field style="margin-right:2rem" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput [(ngModel)]="product.description" #input>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Url</mat-label>
            <input matInput [(ngModel)]="product.url_image" #input>
        </mat-form-field>
        <mat-dialog-actions class="dialog-actions">
            <button class="button-style" mat-button (click)="onNoClick()">Cancelar</button>
            <button class="button-style" mat-button (click)="onYesClick()">Guardar</button>
        </mat-dialog-actions>
    </div>
</div>