<div style="height: 100vh; display: flex; flex-direction: column; align-items: center;">
    <h1 style="margin-top: 2rem;margin-left:3rem">Añadir valoración</h1>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column" style="margin-top: 2rem;">
            <h2>Puntuación</h2>
            <h2 style="margin-top:6.5rem">Descripción</h2>
        </div>
        <div class="d-flex flex-column align-items-center" style="margin-top: 2rem;">
            <div class="d-flex">
                <div class="d-flex flex-column mx-5">
                    <mat-icon class="star" style="transform: scale(5);" data-value="1">star_border</mat-icon>
                </div>
                <div class="d-flex flex-column mx-5"> 
                    <mat-icon class="star" style="transform: scale(5)" data-value="2">star_border</mat-icon>
                </div>
                <div class="d-flex flex-column mx-5">
                    <mat-icon class="star" style="transform: scale(5)" data-value="3">star_border</mat-icon>
                </div>
                <div class="d-flex flex-column mx-5">
                    <mat-icon class="star" style="transform: scale(5)" data-value="4">star_border</mat-icon>
                </div>
                <div class="d-flex flex-column mx-5">
                    <mat-icon class="star" style="transform: scale(5)" data-value="5">star_border</mat-icon>
                </div>
            </div>
            <div style="margin-top: 5rem;">
                <textarea style="width: 20rem; height: 10rem; background-color: #E1E8EB" id="reviewInput" placeholder="Escribe tu valoración"></textarea>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 2rem;">
                <button class="buttonStyle">Cancelar</button>
                <button class="buttonStyle">Valorar</button>
            </div>
        </div>
    </div>
</div>

