<h2 mat-dialog-title class="custom-dialog-title">Añadir post</h2>
<mat-dialog-content class="mat-typography custom-dialog-content">
  <mat-form-field class="custom-form-field">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="solicitud.type" name="type" #type="ngModel">
      <mat-option value="Recetas saludables">Recetas saludables</mat-option>
      <mat-option value="Información sobre suplementos">Información sobre suplementos</mat-option>
      <mat-option value="Entrenamientos">Entrenamientos</mat-option>
      <mat-option value="Estilo de vida activa">Estilo de vida activa</mat-option>
      <mat-option value="Rutinas para recuperación">Rutinas para recuperación</mat-option>
      <mat-option value="Consejos deportivos">Consejos deportivos</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="custom-form-field">
    <mat-label>Contenido del post</mat-label>
    <textarea matInput [(ngModel)]="solicitud.description" name="description" #description="ngModel"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="pressAddPostComment()">Añadir</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
