/* @import '../../../../../front-end/node_modules/@fortawesome/fontawesome-free/css/all.css';
 */

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custom-box{
  border: 1px solid #ccc;
  padding: 3.5rem;
  margin-bottom: 10px;
  border-radius: 3rem;
  background-color: #88D4F3;
}

.title{
  color:#88D4F3; 
  font-weight: bold; 
  font-size:xx-large
}

.buttomStyle{
  background-color: #C5CDD1;
  border: 1px solid black;
  color:black;
  padding:0.5rem;

}

.error-box {
  background-color: #f8d7da;
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  padding: 8px; 
  margin-bottom: 15px; 
  
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.error-box p {
  margin: 0;
}