/* @import '../../../../../front-end/node_modules/@fortawesome/fontawesome-free/css/all.css';
 */

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custom-box{
  border: 1px solid #ccc;
  padding: 3.5rem;
  margin-bottom: 10px;
  border-radius: 3rem;
  background-color: #88D4F3;
}
p{
  font-size: 15px;
}

.title{
  color:#88D4F3; 
  font-weight: bold; 
  font-size:xx-large; 
}

.error-box {
  background-color: #f8d7da;
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  padding: 8px; 
  margin-bottom: 15px; 
  
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.error-box p {
  margin: 0;
}

.buttomStyle {
  background-color: #344064; 
  font-size: 16px;
  color:white; 
  padding:0.5rem;
  border: 2px solid #3A506B;
  border-radius: 10px; 
  transition: background-color 0.3s ease; 
}

.buttomStyle:hover {
  background-color: #5b678b; 
}
