.lista-pedidos{
    width: 100%;
}

.list-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.list-group-item{
    width: 100%;
}