<app-toolbar></app-toolbar>
<div *ngIf="confirmationMessage" class="alert alert-success" role="alert"> <!-- mensaje de confirmacion superior -->
    <p style="text-align: center;"><i style="margin-right: 10px;" class="fas fa-exclamation-circle"></i>{{ confirmationMessage }}</p> 
</div>
<div class="d-flex " style="margin-top:1rem; margin-left:7rem">
   
    <div class="d-flex flex-column" style="width: 680px;" *ngIf="product !== undefined">
        <img style="border: 1px solid; border-radius: 4px;" [src]=product.product.url_image>
        <h2 class = "titleFont topMargin">Descripción del producto:</h2>
        <p class="infoSize topMargin">{{product.product.description}}</p>
        <h2 class = "titleFont topMargin">Valoraciones</h2>
        <button class="buttonCartValoracion" (click)="addAssessment()">Añadir valoración</button>
    </div>

    <div class="d-flex flex-column " style="margin-top:4rem; margin-left: 90px;">

        <h1 style="font-size:2rem; font-weight:bold;">{{product.product.name | uppercase }}</h1>
        <p class="infoSize topMargin">{{product.product.price}} €</p>

        <div *ngIf="typeProduct === 'clothing'">
            <p class="infoSize topMargin">Talla:</p>
            <div id="talla" class ="d-flex justify-content-between topMargin">
                <div class="d-flex flex-column ">
                    <button class="sizeButton">XS</button>
                </div>
                <div class="d-flex flex-column ">
                    <button class="sizeButton">S</button>
                </div>
                <div class="d-flex flex-column">
                    <button  class="sizeButton">M</button>
                </div>
                <div class="d-flex flex-column">
                    <button  class="sizeButton">L</button>
                </div>
                <div class="d-flex flex-column">
                    <button  class="sizeButton">XL</button>
                </div>
            </div>
            <mat-form-field class="topMargin" appearance="outline">
                <mat-label>Color</mat-label>
                <mat-select [(ngModel)]="product.color">
                    <mat-option value="Blanco">Blanco</mat-option>
                    <mat-option value="Negro">Negro</mat-option>
                    <mat-option value="Rosa">Rosa</mat-option>
                    <mat-option value="Rojo">Rojo</mat-option>
                    <mat-option value="Verde">Verde</mat-option>
                    <mat-option value="Azul">Azul</mat-option>
                    <mat-option value="Amarillo">Amarillo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div *ngIf="typeProduct !== 'clothing'">
            <mat-form-field class="topMargin" appearance="outline">
                <mat-label>Cantidad:</mat-label>
                <mat-select [(ngModel)]="product.quantity">
                    <mat-option value="1kg">1kg</mat-option>
                    <mat-option value="2.5kg">2.5kg</mat-option>
                    <mat-option value="5kg">5kg</mat-option>
                    <mat-option value="10kg">10kg</mat-option>
                    <mat-option value="90 cápsulas">90 cápsulas</mat-option>
                    <mat-option value="150 cápsulas">150 cápsulas</mat-option>
                    <mat-option value="250 cápsulas">250 cápsulas</mat-option>
                    <mat-option value="Opción pack">Opción pack</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex flex-column">
                <mat-form-field class="topMargin" appearance="outline">
                    <mat-label>Sabor:</mat-label>
                    <mat-select [(ngModel)]="product.flavor">
                        <mat-option value="Chocolate">Chocolate</mat-option>
                        <mat-option value="Caramelo">Caramelo</mat-option>
                        <mat-option value="Limón">Limón</mat-option>
                        <mat-option value="Galleta">Galleta</mat-option>
                        <mat-option value="Fresa">Fresa</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <mat-form-field class="topMargin" appearance="outline">
            <mat-label>Unididades:</mat-label>
            <input matInput type="number" min="0" max="10" step="1">
        </mat-form-field>

        <div class ="d-flex">
            <div class="d-flex flex-column">
                <button (click)="addProductToCart()" class="buttonCartValoracion topMargin">Añadir al carrito</button>
            </div>
            <div class="d-flex flex-column">
                <mat-icon class="addFavorite topMargin">favorite</mat-icon>
            </div>
        </div>
    </div>
</div>