img{
    height: 30rem;
    width: 30rem;
}

.titleFont{
    font-weight: bold;
    font-size: 1.5rem;
}

.infoSize{
    font-size: 14px;
}

.addCartButton{
    font-size: 1.5rem; 
    padding: 1rem;
}

.addFavorite{
    margin-left:1rem;
    color: red;
    font-size: 3.5rem;
    height: 4rem;
    width: 4rem;
  
}

.topMargin{
    margin-top:1.5rem
}

.sizeButton{
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3rem;

}

.addAssessmentButton{
    background-color: #B5E4FB;
    padding:0.7rem;
    width: 12rem;
}
