<!-- foro.component.html -->

<app-toolbar></app-toolbar>
<div class="container">
  <h1>Foro de Posts</h1>
  <div *ngFor="let post of posts" class="post">
    <div class="post-header">
      <p class="client-email"><strong>Cliente:</strong> {{ post.comment.client.email }}</p>
      <h2 class="post-title">{{ post.type }}</h2>
      <p class="post-date">Publicado el {{ post.comment.date | date:'medium' }}</p> <!-- Formatea la fecha según tus necesidades -->
    </div>
    <div class="post-content">
        <img class="post-image" [src]="post.comment.url_image" alt="Imagen del comentario" *ngIf="post.comment.url_image">
        <p class="post-description">{{ post.comment.description }}</p>
    </div>
  </div>
</div>
