<app-toolbar></app-toolbar>
<div class="d-flex" style="margin-top:2rem">
  <div class="d-flex flex-column" style="width:20%">
    <app-filter [typeProduct]="typeProduct" (filtersChanged)="updateFilters($event)"></app-filter>

  </div>
  <div class="d-flex flex-column" style="width:80%">
    <div class="d-flex flex-wrap scroll">
      <ng-container *ngFor="let element of filteredProducts; let i = index">
        <div class="product-container" (click)="redirectToProductDetails(element.product.id)" style="cursor: pointer;">
          <img [src]=element.product.url_image>
          <span>{{element.product.name}}</span>
          <span>{{element.product.price}}</span>
        </div>
      </ng-container>
      <h2 *ngIf="filteredProducts.length === 0" style="margin-left: 60px; margin-top: 40px; color: grey;">No hay datos para la búsqueda aplicada</h2>
</div>