<app-toolbar></app-toolbar>
<div class="d-flex" style="margin-top:2rem">
  <div class="d-flex flex-column" style="width:20%">
    <app-filter [typeProduct]="typeProduct" (filtersChanged)="updateFilters($event)"></app-filter>

  </div>
  <div class="d-flex flex-column" style="width:80%">
    <div class="d-flex flex-wrap scroll">
      <ng-container *ngFor="let clothing of filteredProducts; let i = index">
        <div class="product-container" (click)="redirectToProductDetails(clothing.product.id)" style="cursor: pointer;">
          <img [src]=clothing.product.url_image>
          <span>{{clothing.product.name}}</span>
          <span>{{clothing.product.price}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>